DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_GUILD_ID=
DISCORD_ALLOWED_ROLE_IDS=
SESSION_SECRET=

GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

NEXT_PUBLIC_APP_NAME=KETHER Warframe Database
NEXT_PUBLIC_APP_VERSION=
