DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_GUILD_ID=
DISCORD_ALLOWED_ROLE_IDS=
DISCORD_APP_ID=
DISCORD_BOT_TOKEN=
DISCORD_PUBLIC_KEY=
DISCORD_VERIFICATION_CHANNEL_ID=
DISCORD_MORTAL_ROLE_ID=
DISCORD_ANGEL_ROLE_ID=
DISCORD_MORTAL_ROLE_NAME=凡人
DISCORD_ANGEL_ROLE_NAME=天使
DISCORD_GIVEAWAY_MANAGER_ROLE_IDS=
KETHER_ADMIN_USER_IDS=
KETHER_ADMIN_ROLE_IDS=
KETHER_CLAN_NAME=KETHER OF PARADISO
KETHER_CLAN_EMBLEM_URL=https://kether-warframe-database.vercel.app/kether-clan-logo.png
SESSION_SECRET=
DATABASE_URL=
BLOB_READ_WRITE_TOKEN=

GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

NEXT_PUBLIC_APP_NAME=KETHER Warframe Database
NEXT_PUBLIC_APP_VERSION=2.6.3
