# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_BOT_TOKEN=

# KETHER Discord Guild
KETHER_GUILD_ID=
KETHER_ALLOWED_ROLE_IDS=

# Database
DATABASE_URL=

# Google Sheets
GOOGLE_SHEETS_ID=1ll27z4P_9a9ly2HsxNJdOHW2mzTL8_BHUqLZUtxy9Lc
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# App
NEXT_PUBLIC_APP_NAME=KETHER Warframe Database
NEXT_PUBLIC_APP_VERSION=2.1.3

SUPABASE_SERVICE_ROLE_KEY=
